* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    margin: 0 60px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 60px;
    padding-block: 30px;
    background-color: black;
    margin-bottom: 40px;
}

header h1 {
    color: red;
    text-transform: uppercase;
}

/* Main */

.card-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 20px);
}

.poster {
    width: 100%;
}

.poster img {
    width: 40%;
}